<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>PHONEBOOK_MAIN_PROJECT</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/views/index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/404.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>AddNewContactServlet</display-name>
    <servlet-name>AddNewContactServlet</servlet-name>
    <servlet-class>com.slksoft.web.controllers.AddNewContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewContactServlet</servlet-name>
    <url-pattern>/AddNewContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactsService</display-name>
    <servlet-name>ContactsService</servlet-name>
    <servlet-class>com.slksoft.service.ContactsService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactsService</servlet-name>
    <url-pattern>/ContactsService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactDetailsServlet</display-name>
    <servlet-name>ContactDetailsServlet</servlet-name>
    <servlet-class>com.slksoft.web.controllers.ContactDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactDetailsServlet</servlet-name>
    <url-pattern>/ContactDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactListservlet</display-name>
    <servlet-name>ContactListservlet</servlet-name>
    <servlet-class>com.slksoft.web.controllers.ContactListservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactListservlet</servlet-name>
    <url-pattern>/ContactListservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContactServlet</display-name>
    <servlet-name>DeleteContactServlet</servlet-name>
    <servlet-class>com.slksoft.web.controllers.DeleteContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContactServlet</servlet-name>
    <url-pattern>/DeleteContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditContactServlet</display-name>
    <servlet-name>EditContactServlet</servlet-name>
    <servlet-class>com.slksoft.web.controllers.EditContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditContactServlet</servlet-name>
    <url-pattern>/EditContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.slksoft.web.controllers.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
</web-app>